* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

main {
  margin: 0 auto;
  width: 100%;
  height: auto;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
}

h1 {
  padding-top: 10px;
  text-align: center;
  font-size: 1.75em;
  color: white;
}

nav {
  position: relative;
  height: 82.25px;
  background-color: #009cc2;
}

.cal-types {
  display: inline-block;
  position: absolute;
}

.cal-types button {
  margin-left: 20px;
  padding: 8px 5px 5px 5px;
  background: none;
  border: none;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}

.cal-types button:hover {
  color: #003440;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.cal-types button.focus {
  background: white;
  border: 5px solid #003440;
  border-bottom: 5px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #003440;
  -webkit-transition: background 250ms ease-out;
  transition: background 250ms ease-out;
}

.cal-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-right: 100px;
}

.cal-filters button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.cal-filters button:hover {
  color: #003440;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

/* 
    Table of Contents
        Yearly table
*/
.cal-container {
  width: 100%;
  border-top: 5px solid #003440;
  z-index: -1;
}

.cal-subcontainer {
  margin: 0 auto;
  padding-top: 15px;
  width: 490px;
}

button.cal-year-button {
  background: none;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/*------------------------------------*\
  #Calendar Yearly
\*------------------------------------*/
.cal-year-selector {
  margin-left: 120px;
  width: 150px;
}

.cal-year-selector p {
  display: inline-block;
  font-size: 2.2em;
}

.cal-year-container {
  display: block;
}

.cal-year {
  display: inline-block;
}

.cal-year.cal-year-days {
  width: 450px;
  height: auto;
}

.cal-year.cal-year-label {
  width: 20px;
  height: auto;
}

.cal-year tr {
  width: 100%;
  height: auto;
}

.cal-year th {
  width: 25px;
  height: 18px;
}

.cal-year.cal-year-days th {
  background-color: rgba(187, 167, 167, 0.842);
}

.cal-year.cal-year-days th.cal-year-noday {
  background-color: white;
}

.cal-year p {
  font-size: 12px;
}

/*------------------------------------*\
  #Tool tip (temporary to be able to see data)
\*------------------------------------*/
.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.popup-select {
  padding: 10px;
  width: 200px;
  height: 350px;
  -webkit-box-shadow: 0 16px 64px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 64px rgba(0, 0, 0, 0.2);
}

#account-select-container::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

#account-select-container {
  position: absolute;
  top: 105px;
  right: 400px;
}

#accounts-select {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  overflow: scroll;
}

#accounts-select div {
  display: block;
  margin-left: 10px;
}

/*------------------------------------*\
  #Account Select
\*------------------------------------*/
/*------------------------------------*\
  #Categories Select
\*------------------------------------*/
#categories-select {
  display: none;
  width: 250px;
  height: 100px;
  overflow: scroll;
}

#categories-select div {
  display: block;
  margin-left: 10px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), url(/modules/googleicons/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Material Icons Round';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons Round"), url(/modules/googleicons/MaterialIconsRound-Regular.otf) format("truetype");
}

@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons Outlined"), url(/modules/googleicons/MaterialIconsOutlined-Regular.otf) format("truetype");
}

.material-icons, .material-icons-round, .material-icons-outlined {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

.material-icons {
  font-family: 'Material Icons';
}

.material-icons-round {
  font-family: 'Material Icons Round';
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
}

.material-icons.md-24, .material-icons-round.md-24, .material-icons-outlined.md-24 {
  font-size: 1.5em;
}

.material-icons.md-36, .material-icons-round.md-36, .material-icons-outlined.md-36 {
  font-size: 2.25em;
}

.material-icons.md-48, .material-icons-round.md-48, .material-icons-outlined.md-48 {
  font-size: 3em;
}
/*# sourceMappingURL=heatmap.css.map */