nav {
  position: relative;

  height: 90px;

  background-color: $ynab-light-green;
}
.cal-types {
    display: inline-block;
    position: absolute;

    & button {
      margin-left: 20px;
      padding: 0px 5px 5px 5px;
  
      background: none;
      border: none;
  
      font-size: 1.2em;
      color: white;
  
      cursor: pointer;

      &:hover {
        color: $ynab-dark-green;

        transition: all 250ms ease-in;
      }
      
      &.focus {
        background: white;
        border: 5px solid $ynab-dark-green;
        border-bottom: 5px solid transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
  
        color: $ynab-dark-green;
        transition: background 250ms ease-out;
        
      }
    }
}

.cal-filters {
    display: flex;
    float: right;

    margin-right: 100px;

    & button {
        display: flex;
        align-items: center;
       
        margin-right: 40px;

        background: none;
        border: none;

        color: white;

        cursor: pointer;
      
      &:hover {
        color: $ynab-dark-green;

        transition: all 250ms ease-in;
      }
    }
}
