/* 
    Table of Contents
        Yearly table
*/

/*------------------------------------*\
  #Calendar Yearly
\*------------------------------------*/
.cal-year-container{
    display: block;
}
.cal-year {
    display: inline-block;
}
.cal-year.cal-year-days {
    width: 450px;
    height: auto;
}
.cal-year.cal-year-label{
    width: 20px;
    height: auto;
}
.cal-year tr {
    width: 100%;
    height: auto;
}
.cal-year th {
    width: 25px;
    height: 16px; 
}
.cal-year.cal-year-days th {
    background-color: green;
}
.cal-year p {
    font-size: 12px;
}

/*------------------------------------*\
  #Tool tip (temporary to be able to see data)
\*------------------------------------*/

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }