/* 
    Table of Contents
        Yearly table
*/


.cal-container {
  width: 100%;

  border-top: 5px solid $ynab-dark-green;

  line-height: normal;
  
  z-index: -1;
}
.cal-subcontainer {
  margin: 0 auto;
  padding-top: 15px;
  width: 490px;
}

button.cal-year-button{
  background: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

/*------------------------------------*\
  #Calendar Yearly
\*------------------------------------*/
.cal-year-selector {
  margin-left: 120px;
  width: 190px;
}
.cal-year-selector p{
  display: inline-block;

  font-size: 2.2em;
}
.cal-year-container{
    display: block;
}
.cal-year {
    display: inline-block;
}
.cal-year.cal-year-days {
    width: 450px;
    height: auto;
}
.cal-year.cal-year-label{
    width: 20px;
    height: auto;
}
.cal-year tr {
    width: 100%;
    height: auto;
}
.cal-year th {
    width: 25px;
    height: 18px; 
}
.cal-year.cal-year-days th {
    background-color:  rgba(187, 167, 167, 0.842);
}
.cal-year.cal-year-days th.cal-year-noday {
    background-color: white;
}
.cal-year p {
    font-size: 12px;
}

/*------------------------------------*\
  #Tool tip (temporary to be able to see data)
\*------------------------------------*/

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }


  .popup {
    margin-top: 30px;

    width:  250px;
    height: 350px;

    border-radius: 5px;
    box-shadow: 0 16px 64px rgba(0, 0, 0, 0.2);
  }

  .popup-title {
    margin: 15px 0 5px 15px;

    font-size: 1em;
    font-weight: 700;
    color: #383e41;
  }

  .popup-select {
    margin: 5px 15px 0 15px;
    height: 35px;

    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    & button {
      display: inline-block;
      margin: 5px 5px 0 5px;
      background: none;
      border: none;

      font-size: 13.5px;
      color: $ynab-light-blue;

      &:hover {
        color: $ynab-dark-green;

        cursor: pointer;
      }
    }
  }

  .select-scroll {
    margin: 15px 0 0 15px;
    width: 220px;
    height: 200px;

    font-size: .9rem;

    overflow-y: scroll;
  }

  .select-buttons {
    float: right;

    margin: 15px 10px 0 0;
    width: 140px;

    & button {
      padding: .3em .6em;

      border-radius: .4em;

      line-height: 1em;
    }

    & button.cancel {
      padding: .3em .6em;
   
      border: 2px solid #dee3e8;
      background-color: transparent;

      color: $ynab-light-green;

      &:hover {
        border-color: $ynab-teal;
        background-color: $ynab-teal;

        color: white;
      }
    }

    & button.done {
      border: 2px solid transparent;
      background-color: $ynab-light-green;

      color: white;

      &:hover {
        border-color: $ynab-teal;
        background-color: $ynab-teal;
      }
    }
  }

 #account-select-container {
   position: absolute;
  
   top: 95px;
   right: 465px;

   opacity: 0;
 }

#account-select-container::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

#accounts-select div {
  display: block;
  margin-left: 10px;
}

/*------------------------------------*\
  #Account Select
\*------------------------------------*/

/*------------------------------------*\
  #Categories Select
\*------------------------------------*/
#categories-select {
  display: none;
  width:  250px;
  height: 100px;

  overflow: scroll;
}

#categories-select div {
  display: block;
  margin-left: 10px;
}