/* 
    Table of Contents
        Yearly table
*/


.cal-container {
  width: 100%;

  border-top: 5px solid $ynab-dark-green;
  
  z-index: -1;
}
.cal-subcontainer {
  margin: 0 auto;
  padding-top: 15px;
  width: 490px;
}

button.cal-year-button{
  background: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

/*------------------------------------*\
  #Calendar Yearly
\*------------------------------------*/
.cal-year-selector {
  margin-left: 120px;
  width: 150px;
}
.cal-year-selector p{
  display: inline-block;

  font-size: 2.2em;
}
.cal-year-container{
    display: block;
}
.cal-year {
    display: inline-block;
}
.cal-year.cal-year-days {
    width: 450px;
    height: auto;
}
.cal-year.cal-year-label{
    width: 20px;
    height: auto;
}
.cal-year tr {
    width: 100%;
    height: auto;
}
.cal-year th {
    width: 25px;
    height: 18px; 
}
.cal-year.cal-year-days th {
    background-color:  rgba(187, 167, 167, 0.842);
}
.cal-year.cal-year-days th.cal-year-noday {
    background-color: white;
}
.cal-year p {
    font-size: 12px;
}

/*------------------------------------*\
  #Tool tip (temporary to be able to see data)
\*------------------------------------*/

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 10px;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

/*------------------------------------*\
  #Account Select
\*------------------------------------*/
#accounts-select {
  display: none;
  width:  200px;
  height: 100px;

  overflow: scroll;
}

#accounts-select div {
  display: block;
  margin-left: 10px;
}

/*------------------------------------*\
  #Categories Select
\*------------------------------------*/
#categories-select {
  display: none;
  width:  250px;
  height: 100px;

  overflow: scroll;
}

#categories-select div {
  display: block;
  margin-left: 10px;
}